@using Codesanook.OrganizationProfile.Models
@{
    var contactForm = Model.ContactForm as ContactFormPart;
}
<h4>
    Contact us email
</h4>

<ul>
    <li>name: @contactForm.Name</li>
    <li>email address: @contactForm.EmailAddress</li>
    <li>phone number address: @contactForm.MobilePhoneNumber</li>
</ul>

<h4>content</h4>
<p>
    @contactForm.Message
</p>
