@using Codesanook.OrganizationProfile.ViewModels
@model ContactInformationDisplayViewModel 
<p>
    <strong>@Html.DisplayNameFor(m=>m.PhoneNumber) :</strong>
    <a href="tel:@Model.PhoneNumber"> @Model.PhoneNumber</a>
</p>
<p>
    <strong>@Html.DisplayNameFor(m=>m.EmailAddress) :</strong>
    <a href="mailto:@Model.EmailAddress">@Model.EmailAddress</a>
</p> 
