<p>
    <strong>Phone :</strong>
    <a href="tel:@Model.PhoneNumber" > @Model.PhoneNumber</a>
</p>
<p>
    <strong>Email :</strong>
    <a href="mailto:@Model.EmailAddress">@Model.EmailAddress</a>
</p> 
