@using Codesanook.OrganizationProfile.ViewModels
@using System.Reflection
@model SocialLinksDisplayViewModel

@{
    var type = typeof(SocialLinksDisplayViewModel);
    var propertiesWithoutInheritedClass = type.GetProperties(
        BindingFlags.Public | BindingFlags.Instance | BindingFlags.DeclaredOnly
    );

    // Get only not null properties with Reflection
    var links =
        from p in propertiesWithoutInheritedClass
        where !string.IsNullOrWhiteSpace(p.GetValue(Model) as string)
        select new
        {
            p.Name,
            Url = p.GetValue(Model)
        };
}
<ul class="social-link-list">
    @foreach (var link in links)
    {
        <li class="item">
            <a target="_blank" href="@link.Url" class="social-link">
                <i class="fa fa-@link.Name.ToLower()"></i>
            </a>
        </li>
    }
</ul>
