@using Codesanook.OrganizationProfile.ViewModels
@using System.Reflection
@model SocialLinksDisplayViewModel

@{
    // Get only not null properties with Reflection
    var type = typeof(SocialLinksDisplayViewModel);

    var links =
        from p in type.GetProperties(
            BindingFlags.Public | BindingFlags.Instance | BindingFlags.DeclaredOnly
        )
        where p.GetValue(Model) != null
        select new { p.Name, Url = p.GetValue(Model) };
}

<ul>
    @foreach (var link in links)
    {
        <li>
            <a href="@link.Url"> <i class="fa fa-@link.Name.ToLower()"></i> @link.Name </a>
        </li>
    }
</ul>