@using Codesanook.OrganizationProfile.Controllers
@{
    Layout.Title = "Contact us";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="full-width-contents">
                <div class="entry-content">
                    <h2>Get in Touch</h2>
                    <p>
                        Please fill your contact information and message to contact.
                    </p>
                </div>
            </div>
            @using (Html.BeginFormAntiForgeryPost(Url.Action(nameof(ContactUsController.Index))))
            {
                @*
                    Model is a Shape, calling Display()
                    so that it is rendered using the most specific template for its Shape type
                *@
                @Display(Model.ContactForm)
            }
        </div>
        <div class="col-6">
            @Display(Model.ContactInformation)
        </div>
    </div>
</div>

