@using Codesanook.OrganizationProfile.Controllers
@{
    Layout.Title = "Contact us";
}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="full-width-contents">
                <div class="entry-content">
                    <h2>Get in Touch</h2>
                    @* https://getbootstrap.com/docs/4.0/components/forms/#help-text *@
                    <small class="form-text text-muted">
                        Please fill your contact information and message to contact.
                    </small>
                </div>
            </div>
            @using (Html.BeginFormAntiForgeryPost(Url.Action(nameof(ContactUsController.Index))))
            {
                @*
                    Model is a Shape.
                    Calling Display() to render a shape using the most specific template for its Shape type
                *@
                @Display(Model.ContactForm)
            }
        </div>
        <div class="col-6">
            @Display(Model.ContactInformation)
        </div>
    </div>
</div>

